<%= form_tag '/form_result', method: :post do %>
<div>
  <h1><%= label_tag :message, "Guess your number!" %></h1>
  <%= text_field_tag :message %>
</div>
<div>
  <%= submit_tag "Guess" %>
</div>
<% end %>